/* .box{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 10px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.grandpa{
    width: 400px;
    height: 400px;
    background-color: red;
}
.pa{
    width: 200px;
    height: 200px;
    background-color: green;
}
.me{
    width: 100px;
    height: 100px;
    background-color: yellow;
} */ 
  
/*  Code for Id P-4 */
/* #btn {
    width: 150px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #221e1e;
    transition: all 0.5s;
}
#btn:hover{
    box-shadow: 0px 0px 15px red;
} */